<%- include('../partials/header') %>

    <% if(userRecipes.length==0) {%>
        <h3>You have no recipes yet</h3>
        <% } else { %>

            <% userRecipes.forEach(function(recipe) { %>
                <section id="myrecipe-blocks">
                    <div id="myrecipes-title">
                        <a href="/recipes/<%= recipe._id %>">
                        <%= recipe.title %>
                        </a>
                    </div>
                    <div>
                        <ul class="page-ingredients">
                            <% recipe.ingredients.forEach(function(i) { %>
                                <li>
                                    <%= i %>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                    <div>
                        <ol class="page-directions">
                            <% recipe.directions.forEach(function(d) { %>
                                <li>
                                    <%= d %>
                                </li>
                                <% }) %>
                        </ol>
                    </div>
                    <div>
                        <%= recipe.difficulty %>
                    </div>
                    <div>
                        <%= recipe.category %>
                    </div>
                    <div>
                        <%= recipe.category2 %>
                    </div>
                    <div>
                        <%= recipe.time %> minutes
                    </div>
                    <form action="/recipes/<%= recipe._id %>/edit" method="GET">
                        <button type="submit">Edit Recipe</button>
                    </form>

                    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete This Recipe</button>
                    </form>
                </section>
                <% }) %>

                    <% } %>