<%- include('../partials/header') %>



    <% userRecipes.forEach(function(recipe) { %>
        <div>
            <%= recipe.title %>
        </div>
        <div>
            <ul>
                <% recipe.ingredients.forEach(function(i) { %>
                    <li>
                        <%= i %>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <div>
            <ol>
                <% recipe.directions.forEach(function(d) { %>
                    <li>
                        <%= d %>
                    </li>
                    <% }) %>
            </ol>
        </div>
        <div>
            <%= recipe.difficulty %>
        </div>
        <div>
            <%= recipe.category %>
        </div>
        <div>
            <%= recipe.category2 %>
        </div>
        <div>
            <%= recipe.time %>
        </div>
        <% }) %>