<%- include('../partials/header') %>
<div class="new-recipe-form-container">
    <form class="new-recipe-form" action="/recipes/<%=recipe._id %>?_method=PUT" method="POST">
        <div class="recipe-input-container">
        <label>Recipe Name
            <input class="options" type="text" placeholder="e.g. Shrimp Scampi" name="title" value=" <%= recipe.title%>">
        </label>
</div>
        <div class="recipe-input-container">
        <label>Ingredients
            <textarea class="options" placeholder="Add ingredients seperated by commas" name="ingredients"><%= recipe.ingredients.join(', ')%></textarea>
        </label>
    </div>
        <div class="recipe-input-container">
        <label>Directions
            <textarea class="options" placeholder="Add directions seperated by commas" name="directions"><%= recipe.directions.join(', ')%></textarea>

        </label>
    </div>
        <div class="recipe-input-container">
            <label for="difficulty">Difficulty</label>
        <select id="difficulty" class="options" name="difficulty">Difficulty
            
            <% let options=[ 'easy' , 'medium' , 'hard'];
            let selected = recipe.difficulty
            for (let i=0; i < options.length; i++ ) {
            %>
               <option value="<%= options[i]%>" <%=options[i] == selected ? 'selected' : "" %>><%= options[i]%></option>
            <% } %>
        </select>
    </div>
        <div class="recipe-input-container">
            <label for="mealtime">Meal time</label>
        <select id="mealtime" class="options" name="category">Category

            <%  options=[ "breakfast" , "lunch" , "dinner" , "dessert" ]; 
            selected = recipe.category
            for (let i=0; i < options.length; i++ ) {
     
            %>
               <option value="<%= options[i]%>" <%=options[i] == selected ? 'selected' : "" %>><%= options[i]%></option>
               
            <% } %>
        </select>
    </div>
        <div class="recipe-input-container">
            <label for="dietary-category">Dietary</label>
        <select class="options"   id="dietary-category" name="category2">
          

            <%  options=["vegetarian", "pescatarian", "vegan"]; 
            selected = recipe.category2
            for (let i=0; i < options.length; i++ ) {
     
            %>
               <option value="<%= options[i]%>" <%=options[i] == selected ? 'selected' : "" %>><%= options[i]%></option>
               
            <% } %>

        </select>
    </div>
        <div class="recipe-input-container">
        <label>Time
            <input class="options" type="number" name="time" value="<%= recipe.time %>">
        </label>
    </div>
        <button type="submit">Update Recipe</button>

    </form>
</div>
    </body>

    </html>


    