<%- include('../partials/header') %>

    <% console.log(recipe)%>
    <table>
        <thead>
            <h4><%= recipe.userName %></h4>
        </thead>
        <tbody>
            <tr>
                <td><img alt="avatar" src="<%= recipe.userAvatar %>" referrerpolicy="no-referrer"></td>
            </tr>
        </tbody>
        
    </table>


    <div>
        <%= recipe.title %>
    </div>
    <div>
        <ul>
            <% recipe.ingredients.forEach(function(i) { %>
                <li>
                    <%= i %>
                </li>
                <% }) %>
        </ul>
    </div>
    <div>
        <ol>
            <% recipe.directions.forEach(function(d) { %>
                <li>
                    <%= d %>
                </li>
                <% }) %>
        </ol>
    </div>
    <div>
        <%= recipe.difficulty %>
    </div>
    <div>
        <%= recipe.category %>
    </div>
    <div>
        <%= recipe.category2 %>
    </div>
    <div>
        <%= recipe.time %> minutes
    </div>

    <section>
        <h2>Reviews</h2>
        <form action="/recipes/<%=recipe._id%>/reviews" method="POST">
            <label>Review:</label>
            <textarea name="content">Leave Your Review Here</textarea>
            <label>Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit">Submit Review</button>
        </form>
    </section>

    <% if(recipe.reviews.length){%>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Review</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <% recipe.reviews.forEach(function(r) { %>
                    <tr>
                        <td>
                            <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"><%= r.userName %>
                        </td>
                        <td>
                            <%= r.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                            <%= r.content %>
                        </td>
                        <td>
                            <%= r.rating %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Reviews Yet</h5>
            <%}%>
                </body>

                </html>